<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ログイン</h1>
    <form action="login" method="post">
        <input type="text" name="user_name" />
        <input type="submit" text="登録"/>
    </form>
  </body>
</html>